<div class="navigation">
    <div class="navigation-links">
        <div class="navigation-link company-name">
            <fa-icon [icon]="faAt" class="at-icon"></fa-icon>
            <span>Your company</span>
        </div>
        <span class="navigation-link">Shop</span>
        <span class="navigation-link">Authentication</span>
        <button [routerLink]="['cart']">
            <fa-icon [icon]="faCartShopping" class="navigation-link"></fa-icon>
        </button>
    </div>
    <div class="navigation-actions">
        <div class="search-wrapper">
            <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
            <input type="text" class="search-bar" placeholder="Search">
        </div>
        <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
    </div>
</div>