.product-details {
    padding: 40px;
}

.product-details-wrapper {
    display: flex;
    border-bottom: 1px solid black;
}

.product-img {
    width: auto;
    height: 260px;
}

.product-img-wrapper {
    margin-right: auto;
}

.product-title {
    font-weight: bold;
}

.product-rating {
    padding-right: 10px;
}

.product-rating-reviews {
    margin-bottom: 10px;
}

.stockLabel {
    margin-top: 10px;
}