<div class="auth-form">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="auth-form-header">{{ isLoginMode ? 'Sign in' : 'Register' }}</div>
        <div class="auth-form-field">
            <label for="email">Email address</label>
            <input id="email" formControlName="email" type="email" placeholder="Email" />
            <div class="error-message"
                *ngIf="authForm.get('email')?.invalid && (authForm.get('email')?.dirty || authForm.get('email')?.touched)">
                <div *ngIf="authForm.get('email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="authForm.get('email')?.errors?.['email']">Invalid email format.</div>
            </div>
        </div>
        <div class="auth-form-field">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" placeholder="Password" />
            <div class="error-message"
                *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.dirty || authForm.get('password')?.touched)">
                <div *ngIf="authForm.get('password')?.errors?.['required']">Password is required.</div>
            </div>
        </div>
        <div class="submit-button">
            <button type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Register' }}</button>
        </div>
    </form>
    <span *ngIf="isLoginMode">To create a new account, click </span>
    <span *ngIf="!isLoginMode">Do you already have an account? Please, click </span>
    <a href="#" (click)="onSwitchMode($event)">
        here!
    </a>
</div>