<div class="product-tile">
    <div class="product-img-wrapper">
        <img class="product-img" [src]="product.image" alt="Product Image">
    </div>
    <div class="product-description">{{product.description}}</div>
    <div class="product-details">
        <div class="product-actions">
            <app-add-to-cart-button></app-add-to-cart-button>
            <button>Edit</button>
            <button (click)="deleteProduct(product.id)">Delete</button>
        </div>
        <div class="product-rating-price">
            <span>{{product.rating.rate}}<fa-icon [icon]="faStar"></fa-icon></span>
            <span><fa-icon [icon]="faDollarSign"></fa-icon>{{product.price}}</span>
        </div>
    </div>
</div>