:host {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.reset-pass-form {
  padding: 30px;
  border: 1px solid black;
  border-radius: 5%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.reset-pass-form-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

.reset-pass-form-field {
  margin: 10px;
}

.error-message {
  color: red;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.reset-pass-form-success-message {
  background-color: green;

  span {
    color: white;
  }
}
